#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(215, 211, 211);
}
.mainSection {
  flex-grow: 1;
}
.img-error {
  width: 45vh;
}

.bgMorado {
  background: rgb(43, 43, 70);
}

.textoMorado {
  color: rgb(43, 43, 70);
}

.bgClaro {
  background: rgb(215, 211, 211);
}

.textoClaro {
  color: rgb(215, 211, 211);
}
